@import "settings";
@import "foundation";
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900");

$title-font: 'Source Sans Pro', sans-serif;
$main-font: 'Source Sans Pro', sans-serif;

$xxthin:   200;
$xthin:    300;
$thin:     400;
$reg:      600;
$thick:    700;
$xthick:   800;
$xxthick:  900;

$header-height: 6rem;

$card-height: 7rem;
$card-color: #EEEEEE;
$card-secondary-color: #CCCCCC;
$card-shadow: .4rem .4rem .1rem;
$card-shadow-color: #888888;

$edge-room: 1rem;

// thumbs are square
// $thumb-width: $card-height;
h1 {
	font-family: $main-font;
	font-weight: $xxthin;
}

p {
	font-family: $main-font;
	font-weight: $thin;
}

.thumb {
	height: $card-height;
}

.title {
	font-family: $main-font;
	font-weight: $thick;
	height: $card-height;
	margin: .5rem;
}

.card {
	background: $card-color;
	height: $card-height;
	box-shadow: $card-shadow $card-shadow-color
}

.card:hover {
	background: $card-secondary-color;
}

.container {
	position: relative;
	top: $header-height;
	margin: 0 $edge-room 0 $edge-room;
}

.detail-title {
	margin: 1rem;
}

.content {
	margin-top: 2rem;
}

#header {
	
}
