@import "settings";
@import "foundation";
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900");

@import "animations";

$main-font: 'Source Sans Pro', sans-serif;

$xxthin:   200;
$xthin:    300;
$thin:     400;
$reg:      600;
$thick:    700;
$xthick:   800;
$xxthick:  900;

$header-height: 4rem; 
$header-room: $header-height * 1.5;
$edge-room: 1rem;

$card-height: 7rem;
$card-shadow: .4rem .4rem .1rem;

$header-color: #EEEEEE;
$header-text-color: black;

$card-color: #DDDDDD;
$card-text-color: black;

$card-secondary-color: #34495e;
$card-secordary-text-color: white;

$card-shadow-color: #7f8c8d;

$link-color: #9b50ba;
$background-color: white; 

$paragraph-color: black;

a {
	color: $primary-color;
}



body {
	background: $background-color;
}

// thumbs are square
// $thumb-width: $card-height;
h1 {
	font-family: $main-font;
	font-weight: $xxthin;
}

p {
	color: $paragraph-color;
	font-family: $main-font;
	font-weight: $thin;
}

.thumb {
	height: $card-height;
	margin-left: 0.5rem;
}

.title {
	font-family: $main-font;
	font-weight: $xthin;
	margin: 0 .5rem 0 .5rem;
}

.card, .title-holder {
	height: $card-height;
	background: $card-color;
	box-shadow: $card-shadow $card-shadow-color;
	overflow: hidden;
	.title {
		color: $card-text-color;
	}
}

.card:hover {
	background: $card-secondary-color;
	.title {
		color: $card-secordary-text-color;
		font-weight: $xthick;
	}
}

.detail-title {
	line-height: 100%;
	margin-left: 0.5rem;
	color: $card-text-color;
	a {
		position: relative;
	}
	@media #{$small-only} {
		font-size: 1.4rem;
		a {
			top: -.2rem;
			font-size: 1.1rem;
		}
	}
	@media #{$medium-only} {
		font-size: 2.2rem;
		a {
			top: -.3rem;
			font-size: 1.5rem;
		}
	}
	@media #{$large-up} {
		font-size: 3rem;
		a {
			top: -.5rem;
			font-size: 1.8rem;
		}
	}
}

@mixin content-card($pad){
	background: $card-color;
	box-shadow: $card-shadow $card-shadow-color;
	padding: 0 $pad $pad $pad;
	h1 {
		color: $card-text-color;
		line-height: 100%
	}
	
	p {
		font-size: 1.2rem;
	}
	
	p:first-child {
		margin-top: 2rem;
	}
	
	p:last-child {
		margin-bottom: 0;
	}
}

.about {
	@include content-card(0.5rem);
}

.contact {
	@include content-card(0.5rem);
}

.content {
	margin-top: 2rem;
	p {
		font-size: 1.2rem;
	}
}

#header {
	@extend .clearfix;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: $header-color;
	z-index: 100;
	padding: 0 1rem 0 1rem;
}


#name {
	position: relative;
	top: .5rem;
	font-size: 2.5rem;
	height: $header-height;
	color: $header-text-color;
	float: left;
	@media #{$small-only} {
		margin-bottom: 0;
		float: none;
	}
}

#nav {
	position: relative;
	top: 1.5rem;
	font-size: 1.1rem;
	font-family: $main-font;
	font-weight: $reg;
	float: right;
	@media #{$small-only} {
		text-align: left;
		top: 0;
		float: none;
		li {
			margin-left: 0;
			margin-right: .5rem;
		}
	}
}

.padding {
	margin: 0 $edge-room 0 $edge-room;
}

.container {
	position: relative;
	top: $header-room;
	@media #{$small-only} {
		top: $header-room + 2.2rem;
	}
}
