@import "settings";
@import "foundation";
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900");

$title-font: 'Source Sans Pro', sans-serif;
$main-font: 'Source Sans Pro', sans-serif;

$xxthin:   200;
$xthin:    300;
$thin:     400;
$reg:      600;
$thick:    700;
$xthick:   800;
$xxthick:  900;

$header-height: 4rem; 
$header-room: $header-height * 1.5;

$card-height: 7rem;
$card-color: #EEEEEE;
$card-secondary-color: #CCCCCC;
$card-shadow: .4rem .4rem .1rem;
$card-shadow-color: #888888;

$edge-room: 1rem;

// thumbs are square
// $thumb-width: $card-height;
h1 {
	font-family: $main-font;
	font-weight: $xxthin;
}

p {
	font-family: $main-font;
	font-weight: $thin;
}

.thumb {
	height: $card-height;
}

.title {
	font-family: $main-font;
	font-weight: $xthin;
	margin: .5rem;
}

.card, .title-holder {
	height: $card-height;
	background: $card-color;
	box-shadow: $card-shadow $card-shadow-color;
	overflow: hidden;
}

.card:hover {
	background: $card-secondary-color;
}

.detail-title {
	margin: 1rem;
}

@media #{$medium-only} {
	.detail-title {
		font-size: 2.2rem;
	}
}

@media #{$small-only} {
	.detail-title {
		font-size: 1.4rem;
	}
}

.content {
	margin-top: 2rem;
	p {
		font-size: 1.3rem;
	}
}

#header {
	position: fixed;
	top: 0;
	left: 0;
	height: $header-height;
	width: 100%;
	background: $card-secondary-color;
	z-index: 100;
}

body {
	height: 100%;
}

.padding {
	margin: 0 $edge-room 0 $edge-room;
}

.container {
	position: relative;
	top: $header-room;
}

.frame {
	position: absolute;
	right: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.frame.ng-enter, .frame.ng-leave {
    -webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
    transition: all 1s ease;
}

.frame.ng-enter {
    left: 100%;
}

.frame.ng-enter-active {
    left: 0;
}

.frame.ng-leave {
    left: 0;
}

.frame.ng-leave-active {
    left: -100%;
}
