<div class="row">
	<div class="padding">
		<div class="contact">
			<h1>{{info.title}}</h1>
			<p>
				<p>My
					<a href="{{info.email}}" target="_blank">email,</a>
					which I sometimes even read.
				</p>
				<p>My
					<a href="{{info.github}}" target="_blank">github.</a>
					Although, I don't think there is a messaging feature...
				</p>
				<p>I have a
					<a href="{{info.flickr}}" target="_blank">flickr,</a>
					that is really good for putting stuff on and forgetting about it.
				</p>
				<p>
					I in theory have a
					<a href="{{info.google_plus}}" target="_blank">google+</a>
					page. I use it mostly for hangouts.
				</p>
				<p>I recently made a 
					<a href="{{info.linkedin}}" target="_blank">linkedin</a>
					It is very... empty. I will be working on it the first moment I get.
				</p>
			</p>
		</div>
	</div>
</div>
